:host {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 5px;
  font-size: 0.8em;
  margin-bottom: 3px;
}

.caption {
  margin-right: 5px;
}

.text {
  font-weight: bold;
}
