:host {
  display: flex;
  align-items: center;
}

button {
  background: transparent;
  padding: 0px;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin: 3px;
}
