:host {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  &::ng-deep [role=content] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &::ng-deep [role=buttons] {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 2px;
  }
}
